*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.header-section{
    background-color: rgb(12,50,90);
}

/* margini laterali della pagina */
.container{
    width: 1624px;
    padding: 20px 0;
    margin: auto;
}



li{
    display: inline-block;
    margin-right: 5px;
}
    
/* logo */
#logo{
    margin-right: 20px;
    vertical-align: middle;

}

li a{
    text-decoration: none;
    color: white;
    padding: 15px;
}
    
/* li:nth-child(5){
    margin-right: 150px;
} */
    
.btn{
    display: inline-block;
    border-radius: 15px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    text-transform: uppercase;
}
    
.btn1{
    border: 1px solid #dadada;
    color: #white;
}
    
.btn2{
    border: 1px solid transparent;
    color: white;
    background-color: rgb(124,187,2);
}

.btn3{
    border: 1px solid transparent;
    background-color: rgb(124,187,2);
    padding: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
    
.bg1{
    background-image: url(img/background-header.png);
    background-color: rgb(12,50,90);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 600px;
}

.title{
    width: 50%;
    margin-top: 5%;
    color:white;
}

h1{
    font-size: 60px;
    padding-bottom: 40px;
}

.bg2text{
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 600;
}
    
.bg2{
    width: 100%;
    height: 150px;
    background-color: rgb(211,211,211);
}

.bg2 div{
    text-align: center;
    padding-top: 40px;

}

.c-gray{
    color: rgb(123,123,123);
    font-weight: 500;
}

.column{
    float: left;
    padding: 50px 0;
}
    
.h-col1{
    width: 60%;
}
.hcol-2{
    width: 40%;
}

.col-3{
    width: 33.3%;
}

.col-2{
    width: 50%;
}
    
.column3-img{
    height: 300px;
    width: 100%;
    padding-bottom: 30px;
}
    
.column-text{
    color: rgb(124,187,2);
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
}

.hr{
    color:rgb(123,123,123);
    width: 20%;
    margin: auto;
}

.column-p{
    color:rgb(123,123,123);
    margin: 40px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
    
    
.hr2{
    color:rgb(123,123,123);
    width: 95%;
    margin: auto;
}

.column2-img{
    width: 80%;
    margin-left: 50px;
    margin-top: 50px;
}
    

.container2{
    padding-left: 115px;
    padding-right: 115px;
}


.column2-text{
    display: inline-block;
    font-size: 40px;
    padding-bottom: 20px;
}
    

.column-p2{
    color:rgb(123,123,123);
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 20px;
}
    
article div a{
    color: rgb(91,138,190);
    font-size: 20px;
}

.l-hgt{
    line-height: 100px;
}

.footer-container{
    width: 1624px;
    padding: 30px 0;
    margin: auto;
    
}

.in-block{
    display: inline-block;
    font-size: 20px;
    color:rgb(124,124,124) ;
}


.bg-gray{
    background-color: rgb(211,211,211) ;
}
    

.help-btn{
    position: fixed;
    bottom: 0;
    right: 20%;
    padding: 15px;
    display: inline-block;
    background-color: rgb(124,187,2);
    border-radius: 15px;
}

select{
    margin-right: 20px;
}
    